	
		<div class="wrapper" style="background-image: url('assets/singin/images/signup-bg.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="assets/images/images3.jpg" alt="">
				</div>
				<form action="">
					<h3>Registration Form</h3>
					<div class="form-group">
						<input type="text" formControlName="nom" placeholder="First Name" class="form-control">
						<input type="text" formControlName="prenom" placeholder="Last Name" class="form-control">
					</div>
					<div class="form-wrapper">
						<input type="text" formControlName="Username" placeholder="Username" class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text"formControlName="post" placeholder="post" class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text"formControlName="tel" placeholder="phoneNumber" class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div>
					
					<div class="form-wrapper">
						<input type="password"formControlName="passworld" placeholder="Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button>Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	