<nav class="navbar navbar-expand-sm " style="background: #002f49;">
    <a style="float: right;" class="navbar-brand">
     <img src="assets/images/manager-512 (1).png" alt="Logo" style="width:30px;">
     <label style="font-size: 14px;color:white;">Hamada</label>
   </a> 
 </nav>
 <section style="background-color:#e9ebee;width: 250px;height: 600px;">
   <button class="active" style="font-size: 15px;font-weight: bold;background-color:#e9ebee;width: 250px;height:20px;border:none;outline: none;margin-top:70px;color:#002f49">
     <hr>
     <img src="assets/images/inbox-5-512 (1).png" style="width: 15px;" >
     <a routerLink="/employer" style="margin-left: 5px;">Inbox</a></button>
   <hr>
   <button class="active" style="font-size: 15px;font-weight: bold;background-color:#e9ebee;width: 250px;height:20px;border:none;outline: none;color:#002f49">
     <img src="assets/images/add-512.png" style="width: 15px;margin-left:20px" >
     <a style="margin-left:5px" routerLink="/addCongees">Add Furlough</a></button>
   <hr>
   <button class="active" style="font-size: 15px;font-weight: bold;background-color:#e9ebee;width: 250px;height:20px;border:none;outline: none;color:#002f49">
     <img src="assets/images/account-logout-512.png" style="width: 15px;" >
     <a style="margin-left: 5px;" routerLink="/login">Log Out</a></button>
   <hr>
 
 
 </section>      
